*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnvO2jXQ7aSLSTydGRozWo-qfrFePVFY4y2NJwMxSrNDtbNfPGIkEQFvxcwcJE1hFQfek&usqp=CAU);
}

.x-wing{
    width: 90vw;
    height: 90vh;
    margin: auto;
}

.x-wing img{
    width: 100%;
    height: 100%;
}