*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnvO2jXQ7aSLSTydGRozWo-qfrFePVFY4y2NJwMxSrNDtbNfPGIkEQFvxcwcJE1hFQfek&usqp=CAU);
}

.x-wing{
    width: 75vw;
    height: 75vh;
    margin: auto;
    pointer-events: none;
    animation: rotate 4s ease-in-out infinite; 
}

.x-wing:hover:not(img){
    animation-play-state: paused;
}

.x-wing img{
    width: 100%;
    height: 100%;
}

@keyframes rotate {
    50% {transform: rotate(8deg);}
}

.body, .left-wing, .right-wing{
    background-color: white;
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 50%;
    pointer-events: auto;
}

.body{
    top: 57%;
    left: 35%;
}

.left-wing{
    top: 23.5%;
    left: 32%
}

.right-wing{
    top: 54%;
    right: 20%;
}

